<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="makedecision.huawei"
		  android:installLocation="internalOnly" android:versionCode="600204" android:versionName="2.4">
<!--manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.MakeDecision"
		  android:installLocation="internalOnly" android:versionCode="600204" android:versionName="2.4"-->

	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />

	<application android:label="Make decision" android:icon="@mipmap/icon"></application>
</manifest>
