<?xml version="1.0" encoding="utf-8"?>
<!--package="makedecision.huawei" package="com.RD_AAOW.MakeDecision"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.MakeDecision"
		  android:installLocation="internalOnly" android:versionCode="600210" android:versionName="2.6.3">

	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="29" />

	<application android:label="Make decision" android:icon="@mipmap/icon"></application>
</manifest>
