<?xml version="1.0" encoding="utf-8"?>
<!-- makedecision.huawei -->
<!-- makedecision.xiaomi -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="makedecision.xiaomi"
		  android:installLocation="internalOnly" android:versionCode="600306" android:versionName="3.2">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />

	<application android:label="Make decision" android:icon="@drawable/launcher_foreground" />
</manifest>
